HOSTNAME=$HOSTNAME

#Set RESOLVER to AWS DNS for your Region/Subscription or other suitable DNS server
RESOLVER=1.1.1.1
AUTHORIZATION_PARAMS={ identity_provider="COGNITO" }
REDIRECT_URI="https://$HOSTNAME/logincallback"
LOGOUT_PATH="https://$HOSTNAME/logout"
DISCOVERY="https://cognito-idp.AWSCONF.amazonaws.com/COGNITOCONF/.well-known/openid-configuration"
CLIENT_ID="CONGNITOCONF"
CLIENT_SECRET="COGNITOCONF"
SSL_VERIFY="no"
SCOPE="openid profile"
SESSION_CONTENTS={enc_id_token=true}
XREALIP=127.0.0.1
XFORWARDEDPROTO=https

PROXIEDHOST=127.0.0.1
PROXIEDPORT=12345
